@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth!important;
  background-color: #f8fafb;
}

@layer base {
  main {
    @apply bg-[#f8fafb] tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  } 

  h1 {
    @apply text-3xl sm:text-4xl md:text-5xl
  }

  h2 {
    @apply text-2xl sm:text-3xl md:text-4xl
  }

  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-lg shadow-gray-400 rounded-md uppercase bg-gradient-to-r from-[#7862ea] to-[#aba1f7] text-white
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@font-face {
  font-family: "burtons";
  src: url('../public/Burtons.otf');
}
